.selected{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.seleccionada{
    background-color: #4f7e2c;
    color: white;
}
.selected:hover{
    background-color: #15455c;
    color: white;
}
table{
    width: 100%;
}
